# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

target/*

target/taskListProject-1.0-SNAPSHOT/resources/scripts/tasks-controller.js

target/taskListProject-1.0-SNAPSHOT/META-INF/MANIFEST.MF

.idea/workspace.xml

target/taskListProject-1.0-SNAPSHOT/tasks.html
